* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row {
    padding: 0;
    margin: 0;
}

#project-info {
    height: 800px;
    background-color: blue;
}

#time-line {
    height: 800px;
    background-color: blue;
}

#goals {
    background-color: blue;
}

#team {
    background-color: blue;
}

#scopes {
    background-color: blue;
}

#primary {
    background-color: blue;
}