* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row {
    padding: 0;
    margin: 0;
}

.background-blue {
    background-color: blue;
}

.background-grey {
    width: 100%;
    height: 100%;
    background-color: #eee;
}


.border-bottom-grey {
    border-bottom: 2px solid grey;
}

.charter-title {
    color: blue;
    padding: 20px;
}

.goal-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.team-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
}

.material-symbols-outlined {
    font-size: 36px;
}

.goal-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.goal-desc {
    width: calc(100% - 100px);
}

.border-item {
    margin: 0 20px 20px
}

.team-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.goal-desc {
    width: calc(100% - 100px);
    margin: 10px;
}

.scopes-items {
    display: flex;
    padding: 26px;
    margin-bottom: 50px
}

.scopes-item {
    width: 50%;
    padding-right: 80px;
}

.scopes-item-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 19px
}

.scopes-item-content {
    margin-bottom: 15px;
}

.timeline-desc {
    width: calc(100% - 100px);
    margin: 10px;
    border-bottom: 1px dotted deepskyblue;
}

.primary-desc {
    width: calc(100% - 100px);
    margin: 10px;
}

.timeline-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

