@media (max-width:991px ) {
    .goal-item {
        width: 100%;
        display: block;
        padding: 0 30px;
    }
    .goal-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .team-item {
        width: 100%;
        display: block;
    }
    .team-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .scopes-items{
        display: block;
    }
    .scopes-item{
        width: 100%;
        padding-right: 0px;
    }
    .scopes-item-title1{
        margin-top: 25px;
    }
    .timeline-desc{
        width: calc(100% - 26px);
    }
    .primary-desc{
        width: calc(100% - 26px);
        margin: 10px;
    }
}